html mact1/cssformat.css
html mact1/home.html
html mact1/image/Banner.png
html mact1/image/educ-bg.jpg
html mact1/image/Me.png
html mact1/image/rocket-launch-scaffolding-vector.png
html mact1/image/icon/FB Black.svg
html mact1/image/icon/Fb White.svg
html mact1/image/icon/Figma Black.svg
html mact1/image/icon/Figma White.svg
html mact1/image/icon/gh white.svg
html mact1/image/icon/Github Black.svg
html mact1/image/icon/Github White.svg
html mact1/image/icon/Linkedin Black.svg
html mact1/image/icon/Linkedin White.svg
