/* Type Fonts */

.navBar-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19.03px;
    font-weight: 700;
    padding-inline: 25px;
    text-align: center;
}
.trending-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.54px;
    font-weight: 500;
    font-style: italic;
    color: white;
    text-align: center;
}
.article-Header-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 42.67px;
    color: black;
    font-style: bold;
    text-align: center;
}
.article-date-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 19.03px;
    color: rgb(128, 124, 124);
}
.article-author-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 19.03px;
    color: #fa9595;
    padding-right: 50px;
}
.article-subheader-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 790;
    font-size: 19.03px;
    color: black
}
.article-text-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19.03px;
    color: black
}
.article-trending-header-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 33.03px;
    color: white
}
.article-trending-subheader-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 23.47px;
    color: white
}
.article-trending-text-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16.47px;
    color: white
}
.section-header-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 42.67px;
    color: black
}
.section-subheader-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 33.03px;
    color: black
}
.section-text-tf{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19.03px;
    color: black
}

/* Containers */

.container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400%;
}
.navBar{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    text-align: center;
}
.logo-container{
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}
.anchor-container{
    float: right; 
    height: 100%;
}
.trending-container{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 45px;
    background-color: #524852;
    text-align: center;
}
.trending-news-container{
    padding-left: 22px;
    height: 100%;
    float: left;
}
.trending-now-container{
    float: right;
    padding-right: 29px;
    padding-top: 15px;
}
.article-header-container{
    position: relative;
    top: 146px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.article-image-container{
    width: 854px;
    height: 499px;
    background-color: gray;
    margin-inline: auto;
    position: relative;
}
.article-text-container{
    width: 55%;
    position: relative;
    margin-inline: auto;
}
.article-trending-container{
    width: 100%;
    height: 429px;
    background-color: #524852;
    position: relative;
}
.article-trending-art-container{
    width: 300px;
    height: auto;
    float: left;
    padding-right: 20px;
}
.article-trending-art-image-container{
    width: 270px;
    height: 140px;
    background-color: gray;
}
.section-main-container{
    width: 60%;
    position: relative;
    left: 22px;
}
.section-sidebar-container{
    width: 35%;
    background-color: chartreuse;
    position: relative;
    right: 22px;
}
.section-large-art-container{
    width: 100%;
    height: 700px;
}
.section-large-art-image-container{
    width: 100%;
    height: 499px;
    background-color: gray;
}
.section-large-art-container:hover .section-large-art-image-container{
    filter: brightness(80%);
}
.section-small-art-container{
    width: 46%;
    height: 400px;
    background-color: #f4f2f2;
    float: left;
    position: relative;
    box-shadow: -4px 6px 20px 2px  gray;
}
.section-small-art-image-container{
    width: 100%;
    height: 200px;
    background-color: gray;
}
.section-small-art-container:hover .section-small-art-image-container{
    filter: brightness(80%);
}
.main-headline-container{
    position: relative;
    top: 105.5px;
    height: 458.5px;
    width: 100%;
    background-color: #d8d8d8;
}
.main-headline-text-container{
    height: 100%;
    width: 37%;
    background-color: #d8d8d8;
    float: left;
    padding-left: 22px;
}
.main-headline-image-container{
    height: 100%;
    width: 60%;
    float: right;
    background-color: gray;
}
/* Icons & Clickables */
.anchor-link{
    color: #262126;
    text-decoration: none;
}
.anchor-link:hover{
    color: #262126;
    text-decoration: none;
}
.anchor-link:visited{
    color: #262126;
    text-decoration: none;
}
.anchor-link-current{
    color: #524852;
    text-decoration: none;
}
.icon-logo{
    content: url("images/mingcute_bird-line.svg");
}
.trending-logo{
    content: url(images/Group\ 7.svg);
}

/* Animations */